# STAT 207 Lab Assignment 4 - Individual Part - [25 total points]

## Probability

In this assignment we have the following research goals.

### Research Goals

1. Calculate the probability of randomly drawing a **flush** hand in poker.
2. Which of the following is more likely to happen:
    - randomly selecting a **single** U.S. county that has a higher **multi unit housing rate** than **Champaign County, Illinois**?
    - randomly selecting **5 U.S. counties** that has a higher **AVERAGE multi unit housing rate** than **Champaign County, Illinois and it's 4 neighboring counties**?

Due: Wednesday, February 16, 11:59pm CST

<hr>


<p>&nbsp;</p>
<table style="border: none;border-collapse: collapse;width:102pt;">
    <tbody>
        <tr>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;width:51pt;">Problems</td>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid windowtext;border-left:none;width:51pt;">Points</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">4</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">3.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">4</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">5.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">5.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">6.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">6.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">3</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">7</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
    </tbody>
</table>

### Imports

In [1]:
import pandas as pd                    # imports pandas and calls the imported version 'pd'
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns # imports the seaborn package with the imported name 'sns'
sns.set() 
import scipy

### <u>Tutorial</u>: Using More Complicated Row Filtering Conditions

You can use parentheses and the **&** and the **|** operators to create more complicated combinations of filtering conditions for the rows of a dataframe.

In [2]:
import pandas as pd
tmp=pd.DataFrame({'x':[3,3,10,10], 'y':[100,101,100,22]})
tmp

    x    y
0   3  100
1   3  101
2  10  100
3  10   22

For instance, the code below returns rows from the tmp dataframe that either have (x=3 and y=100) OR (x=10 and y=22).

In [3]:
tmp[((tmp['x']==3) & (tmp['y']==100)) | ((tmp['x']==10) & (tmp['y']==22))]

    x    y
0   3  100
3  10   22

## <u>Case Study</u>: 'Flush' Poker Hand Analysis

In poker, a 'flush' is a drawn hand that contains five cards all of the same suit.

<u>Examples</u>:

K♣ 10♣ 7♣ 6♣ 4♣ 

J♥ 8♥ 4♥ 3♥ 2♥ 

<u>Note for People that Actually Play Poker</u>:
*For the sake of this analysis, we will assume that "straight flushes" and "royal flushes" also count as "flush" hands.*

## 1. Calculating the Probability of a Flush Hand *Theoretically* 

Calculate the *theoretical* probability of drawing a flush hand from a 52 card playing deck.

* <u>Hint</u>: Remember, when we draw a hand in poker, we draw the five cards without replacement and the order of cards that you selected doesn't matter.

**Show your work and calculations!**

<hr>

In [6]:
card = pd.read_csv("cards.csv")
card.head()

   color  suit face
0  black  club    A
1  black  club    2
2  black  club    3
3  black  club    4
4  black  club    5

In [12]:
(13/52)*(12/51)*(11/50)*(10/49)*(9/48)*4

0.0019807923169267707

## 2. *Approximating* the Probability of a 'Flush' Hand


Now, via a simulation we would like to approximate the probability of randomly selecting a flush hand from a 52 card playing deck (also drawn without replacement in which the order does not matter).

### 2.1. Function for Testing Flush Hands

We have created two test hands below in the form of dataframes.
1. **hand1** is a flush hand.
2. **hand2** is not a flush hand

a. Create a function that returns a True if the dataframe (that represents a poker hand of 5 cards) is a 'flush' hand and returns False if it is not a 'flush' hand.

b. Then use this function on the **hand1** and **hand2** dataframe to test your results.

In [13]:
import pandas as pd
hand1 = pd.DataFrame({'face': ['J','K','10','9','4'],
                           'suit': ['heart', 'heart', 'heart', 'heart', 'heart']})
hand1

  face   suit
0    J  heart
1    K  heart
2   10  heart
3    9  heart
4    4  heart

In [14]:
hand2 = pd.DataFrame({'face': ['3','2','Q','9','J'],
                           'suit': ['heart', 'club', 'spade', 'club', 'diamond']})
hand2

  face     suit
0    3    heart
1    2     club
2    Q    spade
3    9     club
4    J  diamond

In [63]:
def Flush(hand):
    Flush = 0
    for i in range(len(hand)-1):
        if hand[i-1:i]['suit'].values != hand[i:i+1]['suit'].values:
            Flush += 1
    if Flush == 0:
        return True
    else:
        return False

In [64]:
Flush(hand1)

/Users/mayuxuan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  after removing the cwd from sys.path.

True

In [65]:
Flush(hand2)

/Users/mayuxuan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  after removing the cwd from sys.path.

False

### 2.2. Approximating the probability that a randomly drawn hand is a flush hand.

Using the cards.csv file attached to this lab, conduct a simulation that does the following.

1. Simulate drawing 20,000 hands (ie. 5 cards) from the 52 card deck. Each trial is randomly sampled without replacement. (But you can assume that after each trial, the 5 drawn cards were put back in the deck).
2. Tests whether the trial hand is a flush hand.
3. Calculates the proportion of the 20,000 hands that were a flush hand.

This proportion will be your approximated probability of drawing a flush hand in poker.

**Warning: Using print statements (depending on how large of an object you're printing) may cause your notebook to crash with for loops with lots of iterations.**

In [46]:
bigsample = card.sample(n = 5, replace = False)

In [47]:
bigsample

    color     suit face
12  black     club    K
6   black     club    7
15  black    spade    3
46    red    heart    8
27    red  diamond    2

In [77]:
isFlush = 0
for i in range(20000):
    Flush = 0
    bigsample = card.sample(n = 5, replace = False)
    for i in range(5):
        if (bigsample[i-1:i]['suit'].values != bigsample[i:i+1]['suit'].values) | (bigsample[i-1:i]['color'].values != bigsample[i:i+1]['color'].values):
            Flush += 1
    if Flush == 0:
        isFlush += 1

/Users/mayuxuan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

In [78]:
isFlush

41

In [80]:
isFlush/20000

0.00205

### 3. Comparison of Theoretical and Approximated Probabilities

What is the difference between your theoretical probability that you calculated in #1 and your approximated probability that you calculated in 2?

In [81]:
0.0019807923169267707 - 0.00205

-6.920768307322944e-05

<hr>

## <u>Case Study</u>: Champaign County and Surrounding Counties Multi-Unit Housing Structure Analysis

The county.csv file attached contains various statistics about each county in the United States. You can read more about this dataset and what the variables mean here: https://www.openintro.org/data/index.php?data=county

**Champaign County**

Because Champaign County in Illinois is home to UIUC, in which a lot of students and young adults live in apartments, we conjecture that the probability of randomly selecting a **single U.S. county** that has a **multi_unit rate** higher than **Champaign County's** will be low.

**Champaign County and Neighboring Counties**

In addition, suppose we calculate the average multi_unit housing rate of Champaign county, as well as the four neighboring counties (Vermilion, Ford, Piatt, and Douglas). Will it also be the case that the probability of randomly selecting **5 U.S. counties** (without replacement) with an **AVERAGE multi_unit housing rate** higher than the **average of Champaign county and it's neighbors** will be low as well?

Let's find out!

## 4. Data Basics

### 4.1. Data Processing

Read the county csv file into a dataframe and show the first five rows.

**<u>Note</u>: This csv file does have some missing values, but the multi_unit variable does not have any missing values. Because we will only be using the multi_unit variable in this analysis we do not need to worry about cleaning the dataframe or dropping any rows with missing values for now.**

In [84]:
county = pd.read_csv('county.csv')
county.head()

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
0,Autauga County,Alabama,43671,54571,55504,1.48,13.7,77.5,7.2,3.86,yes,some_college,27841.7,55317,none
1,Baldwin County,Alabama,140415,182265,212628,9.19,11.8,76.7,22.6,3.99,yes,some_college,27779.85,52562,none
2,Barbour County,Alabama,29038,27457,25270,-6.22,27.2,68.0,11.1,5.9,no,hs_diploma,17891.73,33368,partial
3,Bibb County,Alabama,20826,22915,22668,0.73,15.2,82.9,6.6,4.39,yes,hs_diploma,20572.05,43404,none
4,Blount County,Alabama,51024,57322,58013,0.68,15.6,82.0,3.7,4.02,yes,hs_diploma,21367.39,47412,none

### 4.2.  Learning About Champaign County Multi_Unit Rate

What is the multi_unit housing rate for Champaign County, Illinois?

In [87]:
champaign = county[(county['name'] == 'Champaign County') & (county['state'] == 'Illinois')]

In [88]:
champaign

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
604,Champaign County,Illinois,179669,201081,209399,1.83,21.4,55.9,35.2,4.24,yes,some_college,29619.49,49586,data unavailable

### 4.3. Learning about Champaign County and it's Neighboring County's Average Multi_Unit Rate
What is the average multi_unit housing rate for Champaign County and it's four neighboring Illinois counties (Vermilion County, Ford County, Piatt County, and Douglas County)?

In [108]:
neighbor = county[((county['name'] == 'Vermilion County') | (county['name'] == 'Ford County') | (county['name'] == 'Piatt County') | (county['name'] == 'Douglas County')) & (county['state'] == 'Illinois')]
neighbor

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
615,Douglas County,Illinois,19922,19980,19748,-0.57,12.1,78.3,11.2,4.01,no,hs_diploma,25796.91,52261,partial
621,Ford County,Illinois,14241,14081,13280,-2.86,15.7,79.1,7.9,4.7,yes,some_college,27234.78,50851,none
668,Piatt County,Illinois,16365,16729,16445,0.09,5.4,81.7,7.5,3.99,yes,some_college,33598.78,67360,data unavailable
686,Vermilion County,Illinois,83919,81625,77909,-3.31,19.8,71.3,14.5,6.29,yes,hs_diploma,23759.02,44930,data unavailable

In [109]:
average = sum(sum(neighbor['multi_unit']) + champaign['multi_unit'])/5
average

15.260000000000002

## 5. Theoretical Probabilities

### 5.1. Randomly Selecting a Single County

What is the probability of randomly selecting a single county from this population of U.S. counties that has a multi_unit rate that is higher than the multi_unit rate of Champaign County, Illinois?

In [150]:
len(county[county['multi_unit'].values > champaign['multi_unit'].values])/(len(county)-1)

0.028334925183062718

In [149]:
#isHigher = 0
#for i in range(20000):
#    sample = county.sample(n = 1)
#    if (sample[0:1]['multi_unit'].values > champaign['multi_unit'].values):
#        isHigher += 1

#isHigher/len(county)

### 5.2. Randomly Selecting 2 Counties (With Replacement)

If we were to randomly select two counties from the population of U.S. counties **with replacement**, what is the probability that they both have multiunit rates that are higher than Champaign county's?

In [154]:
(len(county[county['multi_unit'].values > champaign['multi_unit'].values])/(len(county)-1))*((len(county[county['multi_unit'].values > champaign['multi_unit'].values])-1)/(len(county)-2))

0.0007940998140476176

In [153]:
#isHigher = 0
#for i in range(20000):
#    sample = county.sample(n = 2, replace = True)
#    if (sample[0:1]['multi_unit'].values > champaign['multi_unit'].values) & (sample[1:2]['multi_unit'].values > champaign['multi_unit'].values):
#        isHigher += 1

#isHigher/len(county)

## 6. Approximated Probabilities

Finally, we would like to design a simulation that approximates the probability that the average multiunit rate of 5 randomly selected counties from the population (drawn **without replacement**) is higher than the average multiunit rate of Champaign County and it's 4 neighboring counties.

### 6.1. Test Function

First, create a function that checks whether a sample mean value is larger than the average multiunti rate of Champaign county and it's 4 neighboring counties. You should test this function to make sure it works.

In [142]:
def compare(county_sample):
    sample_average = sum(county_sample['multi_unit'])/5
    if sample_average > average:
        return True
    else:
        return False

In [143]:
county.sort_values(by = 'multi_unit', ascending = True)

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
2719,Roberts County,Texas,887,929,938,2.07,3.3,75.9,0.0,3.66,no,some_college,34038.83,79167,partial
1658,Blaine County,Nebraska,583,478,482,2.55,9.8,65.3,0.0,4.2,no,some_college,30201.85,52000,partial
2574,Crane County,Texas,3996,4375,4740,0.38,11.8,75.8,0.0,5.29,no,hs_diploma,23267.5,63935,none
1711,Loup County,Nebraska,712,632,609,3.75,8.9,85.1,0.0,3.06,no,some_college,30660.73,58625,none
1710,Logan County,Nebraska,774,763,768,-1.16,9.7,68.1,0.0,2.77,no,some_college,24356.18,50278,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,Suffolk County,Massachusetts,689807,722023,797939,4.8,19.6,36.5,80.7,3.39,yes,some_college,38224.07,61242,data unavailable
1782,Hudson County,New Jersey,608975,634266,691643,3.68,17.1,34.3,83.7,4.38,yes,some_college,34823.31,62681,data unavailable
1851,Kings County,New York,2465326,2504700,2648771,1.65,21.9,30.3,85.7,4.64,yes,some_college,29375.27,52782,data unavailable
1830,Bronx County,New York,1332650,1385108,1471160,2.67,29.7,20.7,89.1,6.2,yes,hs_diploma,18852.63,36593,data unavailable
1858,New York County,New York,1537195,1585873,1664727,1.58,17.3,22.8,98.5,4.04,yes,bachelors,69532.86,79781,none

In [144]:
county_sample1 = county[county['multi_unit'] >= 80.7]

compare(county_sample1)

True

In [145]:
county_sample2 = county[county['multi_unit'] == 0].head(5)
compare(county_sample2)

False

### 6.2. Simulation

Finally, use this function to do the following.

* Draw 1000 random samples of 5 U.S. counties from the population (**without replacement**) and calculate the proportion of samples that had an average multi unit rate that was higher than Champaign and it's 4 neighboring counties.

In [146]:
result = 0
for i in range(1000):
    big_sample = county.sample(n = 5, replace = False)
    if compare(big_sample):
        result += 1
result/1000

0.212

## 7. Comparison

2. Which of the following is more likely to happen:
    - randomly selecting a **single** U.S. county that has a higher **multi unit housing rate** than **Champaign County, Illinois**?
    - randomly selecting **5 U.S. counties** that has a higher **AVERAGE multi unit housing rate** than **Champaign County, Illinois and it's 4 neighboring counties**?

Explain.

randomly selecting a single U.S. county that has a higher multi unit housing rate than Champaign County, Illinois: 0.028334925183062718

randomly selecting 5 U.S. counties that has a higher AVERAGE multi unit housing rate than Champaign County, Illinois and it's 4 neighboring counties: 0.212

The second is more likely to happen because it has higher probability